sphinx==7.2.6
pydata-sphinx-theme==0.14.3
numpydoc==1.6.0
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinx-codeautolink==0.15.0
sphinx_favicon==1.0.1
# third-party utilities
beartype==0.16.4
pydantic==1.10.8