sphinx==7.3.7
pydata-sphinx-theme==0.15.2
numpydoc==1.7.0
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinx-codeautolink==0.15.1
sphinx_favicon==1.0.1
# third-party utilities
beartype==0.18.5
pydantic==2.7.0