sphinx==8.1.3
pydata-sphinx-theme==0.16.1
numpydoc==1.8.0
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-codeautolink==0.17.4
sphinx_favicon==1.0.1
# third-party utilities
beartype==0.20.2
pydantic==2.11.5